<h3 class="flash-msg success">You are eligible</h3>

<section>
  <h2>Calculate Installment</h2>

  <form class="" action="calculate" method="post">
    <div class="form-group">
      <label for="">Vehicle :</label><br>
      <select class="" name="">
        <% CARS.each_pair do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label for="installment[cost]">Total cost of vehicle</label><br>
      <input type="text" name="installment[cost]" value="" placeholder="PKR">
    </div>
    <div class="form-group">
      <label for="installment[downpayment]">Down payment</label><br>
      <input type="text" name="installment[downpayment]" value="" placeholder="PKR">
    </div>
    <div class="form-group">
      <span>No of years: </span><br>
      <% 3.upto(5) do |i| %>
        <input type="radio" name="installment[period]" value="<%= i %>">
        <label for="installment[period]"><%= i.humanize.capitalize %></label><br>
      <% end %>
    </div>
    <div class="">
      <label for="installment[markup]">Markup rate</label><br>
      <input type="text" name="installment[markup]" value="" placeholder=" % ">
    </div>
    <div class="form-group">
      <input type="submit" name="" value="Calculate">
    </div>
  </form>

</section>
