<h1>Calculate Installment</h1>

<form class="" action="calculate" method="post">
  <div class="">
    <select class="" name="">
      <% CARS.each_pair do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
    </select>
  </div>
  <div class="">
    <label for="cost">Total cost of Vehicle</label>
    <input type="text" name="cost" value=""> PKR
  </div>
  <div class="">
    <label for="downpay">Down Payment</label>
    <input type="text" name="downpay" value=""> PKR
  </div>
  <div class="">
    <span>No of Years: </span><br>
    <% 3.upto(5) do |i| %>
      <input type="radio" name="years" value="<%= i %>">
      <label for="years"><%= i.humanize.capitalize %></label><br>
    <% end %>
  </div>
  <div class="">
    <label for="markup">Markup Rate</label>
    <input type="text" name="markup" value=""> %
  </div>
  <div class="">
    <input type="submit" name="" value="Calculate">
  </div>
</form>
